In [ ]:
psl_cities =['Karachi','Quetta','Islamabad','Peshawar','Multan','Lahore']

In [ ]:
city = 'Multan'

In [ ]:
if city == psl_cities[0]:
    print("Winner",psl_cities[0])
elif city == psl_cities[1]:
    print("Winner",psl_cities[1])
elif city == psl_cities[2]:
    print("Winner",psl_cities[2])
elif city == psl_cities[3]:
    print("Winner",psl_cities[3])
elif city == psl_cities[4]:
    print("Winner",psl_cities[4])
elif city == psl_cities[5]:
    print("Winner",psl_cities[5])

In [ ]:
for temp_city in psl_cities:
    if temp_city == city:
        print("Winner",temp_city)

In [ ]:
a = range(100)
a

In [ ]:
for i in range(4):
    print(i)

In [ ]:
for i in range(4):
    print("I'll be a good student in class.")

In [ ]:
First_Names = ['BlueRay','Upchuck','Lojack','Gizmo']
Full_Names = [];

In [ ]:
Last_Names = ['Zzz','Burp','Dogbone','Droop']

In [ ]:
for i in First_Names:
    for j in Last_Names:
        Full_Names.append(i +' '+ j)
Full_Names

In [ ]:
for i in range(4):
    print(First_Names[i],Last_Names[i])

In [ ]:
username = input('Enter your name: ')

In [ ]:
print(username)

In [ ]:
type(username)

In [ ]:
num1 = int(input('Enter your num1: '))
num2 = int(input('Enter your num2: '))
num = num1 + num2
print('Result:',num)
# parsing: to convert str into integer

In [ ]:
# Assignment No 1 to operate it in num1: 9 and num2: c
num1 = input('Enter your num1: ')
num2 = input('Enter your num2: ')
try:
    num1 = int(num1)
    num2 = int(num2)
    num = num1 + num2
    print('Result:',num)
except:
    num = num1 + num2
    print('Result:',num)

In [ ]:
# Google Colab - Welcome to Colab then new notebook

In [ ]:
# Assignment No 1 to operate it in num1: 9 and num2: c
num1 = input('Enter your num1: ')
num2 = input('Enter your num2: ')
try:
    num1 = int(num1)
except:
    num1 = num1
try:
    num2 = int(num2)
    num = num1 + num2
    print('Result:',num)
except:
    num2 = num2
    num = num1 + num2
    print('Result:',num)

In [ ]:
psl_cities =['Karachi','Quetta','Islamabad','Peshawar','Multan','Lahore']
city = input("Please input your city: ")
city = city.title()
for temp_city in psl_cities:
    if temp_city == city:
        print("Congratz you were the participant.")
        break
    else:
        print("Sorry Better Luck Next Time")

In [15]:
# Assignment Completed
# Assignment No 1 to operate it in num1: 9 and num2: c
num1 = input('Enter your num1: ')
num2 = input('Enter your num2: ')
try:
    num1 = int(num1)
    num2 = int(num2)
    num = num1 + num2
    print('Result:',num)
except:
    num1 = str(num1)
    num2 = num2
    num = num1 + num2
    print('Result:',num)

Enter your num1: 9
Enter your num2: 5
Result: 14

In [1]:
# Task Completed
psl_cities =['Karachi','Quetta','Islamabad','Peshawar','Multan','Lahore']
city = input("Please input your city: ")
city = city.title()
a = 'Not Found'
for i in range(5):
    if psl_cities[i] == city:
        a = 'Found' 
if a == 'Found':
    print("Congratz you were the participant.")
else:
    print("Sorry Better Luck Next Time.")

Please input your city:
Sorry Better Luck Next Time.

In [8]:
# Dic
contact_book = { 
    'umair' : '03323226899',
    'ammar' : '03022689522'
}

In [5]:
print(contact_book['umair'])

03022689522

In [9]:
# How to add new key in dict
contact_book['test'] = '03322'

In [12]:
print(contact_book)

{'umair': '03323226899', 'ammar': '03022689522'}

In [11]:
del contact_book['test']

In [16]:
Customer_Data ={'Mobile':'Samsung', 'Watch':'Casino', 'Car':'Honda'}

In [17]:
# Add
Customer_Data['Wallet'] = 'Horse'

In [18]:
print(Customer_Data)

{'Mobile': 'Samsung', 'Watch': 'Casino', 'Car': 'Honda', 'Wallet': 'Horse'}

In [20]:
del Customer_Data['Watch']

In [22]:
print(Customer_Data)

{'Mobile': 'Samsung', 'Car': 'Honda', 'Wallet': 'Horse'}

In [26]:
Customer_Data.values()

dict_values(['Samsung', 'Honda', 'Horse'])

In [27]:
Customer_Data.keys()

dict_keys(['Mobile', 'Car', 'Wallet'])

In [28]:
Customer_Data.items()

dict_items([('Mobile', 'Samsung'), ('Car', 'Honda'), ('Wallet', 'Horse')])

In [29]:
for temp in contact_book.values():
    print(temp)

03323226899
03022689522

In [30]:
for temp in contact_book.keys():
    print(temp)

umair
ammar

In [33]:
for temp in contact_book.items():
    print(temp)

('umair', '03323226899')
('ammar', '03022689522')

In [34]:
for key,value in contact_book.items():
    print(key,value)

umair 03323226899
ammar 03022689522

In [5]:
username = input('Enter Your Username: ')
number = input('Enter Your Contact Number: ')
email = input('Enter Your Email Address: ')

temp_dict = {}

temp_dict['username'] = username
temp_dict['number'] = number
temp_dict['email'] = email

customers =[]
customers.append(temp_dict)
print(customers)

Enter Your Username: Asad Anwar
Enter Your Contact Number: 3368/3378
Enter Your Email Address: asadanwar77@hotmail.com
[{'username': 'Asad Anwar', 'number': '3368/3378', 'email': 'asadanwar77@hotmail.com'}]

In [6]:
customers =[]

In [8]:
username = input('Enter Your Username: ')
number = input('Enter Your Contact Number: ')
email = input('Enter Your Email Address: ')

temp_dict = {}

temp_dict['username'] = username
temp_dict['number'] = number
temp_dict['email'] = email

customers.append(temp_dict)
print(customers)

Enter Your Username: s
Enter Your Contact Number: f
Enter Your Email Address: w
[{'username': 'a', 'number': 's', 'email': 'd'}, {'username': 's', 'number': 'f', 'email': 'w'}]

In [17]:
customers[0]['email'] = 'asadanwqar'

In [18]:
print(customers)

[{'username': 'a', 'number': 's', 'email': 'asadanwqar'}, {'username': 's', 'number': 'f', 'email': 'w'}]

In [19]:
del customers[0]['email']

In [20]:
print(customers)

[{'username': 'a', 'number': 's'}, {'username': 's', 'number': 'f', 'email': 'w'}]

In [21]:
len(customers)

2

In [23]:
len(customers[1])

3

In [25]:
customer_29876 = {
"first name": "David",
"last name": "Elliott",
"address": "4803 Wellesley St."
}

In [26]:
customer_29876['Contact'] = ['3364','3378','3916']

In [32]:
customer_29876['Contact'][1]

'3378'

In [33]:
customers = [
{
"customer id": 0,
"first name":"John",
"last name": "Ogden",
"address": "301 Arbor Rd.",
},
{
"customer id": 1,
"first name":"Ann",
"last name": "Sattermyer",
"address": "PO Box 1145",
},
{
"customer id": 2,
"first name":"Jill",
"last name": "Somers",
"address": "3 Main St.",
},
]

In [44]:
dict_customers = {}

In [53]:
username = input('Enter Your Username: ')
number = input('Enter Your Contact Number: ')
email = input('Enter Your Email Address: ')

temp_dict = {}

temp_dict['username'] = username
temp_dict['number'] = number
temp_dict['email'] = email

dict_customers[email] = temp_dict
# customers =[]
# customers.append(temp_dict)
# print(customers)

Enter Your Username: S
Enter Your Contact Number: S
Enter Your Email Address: A

In [62]:
dict_customers['A']['username']

'S'

In [ ]:
x = int(input('Enter the value of x: '))
y = int(input('Enter the value of y: '))
if (x > 3 or (y % 2) == 0):
    print('Atleast one of the conditions is satisfied')
elif (x <= 3 and (y % 2) != 0):
    print('Neither condition is satisfied')

In [11]:
for y in range(1500,2701):
    if (y % 7 == 0 and y % 5 == 0):
            print(y)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

In [15]:
numbers =[1,2,3,4,5,6,7,8,9]
i = 0
for i in numbers:
    i = i + 1
print(i)

10

In [33]:
a = 0
i = 0
for i in range(1,10):
    a = a + i
a

45

In [3]:
# Slicing a word
word = input('Enter a word: ')
print(word[::-1])

Enter a word: a
a

In [7]:
# Slicing a number
numbers =[1,2,3,4,5,6,7,8,9]
print(numbers[::-1])

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [14]:
for i in range(1,51):
    if i % 3 == 0 and i % 5 == 0:
        print(i, 'FizzBuzz')
    elif i % 5 == 0:
        print(i, 'Buzz')
    elif i % 3 == 0:
        print(i, 'Fizz')
    else:
        print(i)

1
2
3 Fizz
4
5 Buzz
6 Fizz
7
8
9 Fizz
10 Buzz
11
12 Fizz
13
14
15 FizzBuzz
16
17
18 Fizz
19
20 Buzz
21 Fizz
22
23
24 Fizz
25 Buzz
26
27 Fizz
28
29
30 FizzBuzz
31
32
33 Fizz
34
35 Buzz
36 Fizz
37
38
39 Fizz
40 Buzz
41
42 Fizz
43
44
45 FizzBuzz
46
47
48 Fizz
49
50 Buzz

In [20]:
for i in range(1,51):
    if i % 3 == 0 and i % 5 == 0:
        print(i, 'FizzBuzz')
        continue
    if i % 5 == 0:
        print(i, 'Buzz')
#         continue
    if i % 3 == 0:
        print(i, 'Fizz')

3 Fizz
5 Buzz
6 Fizz
9 Fizz
10 Buzz
12 Fizz
15 FizzBuzz
18 Fizz
20 Buzz
21 Fizz
24 Fizz
25 Buzz
27 Fizz
30 FizzBuzz
33 Fizz
35 Buzz
36 Fizz
39 Fizz
40 Buzz
42 Fizz
45 FizzBuzz
48 Fizz
50 Buzz

In [5]:
def add_numbers():
    first_number = 2
    second_number = 3
    total = first_number + second_number
    print(total)

In [21]:
for i in range(1,6):
    for j in range(i):
        print(j+1, end = " ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [23]:
for i in range(1,6):
    for j in range(i):
        print(-j+5, end = " ")
    print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [47]:
for i in range(1,6):
    for j in range(i):
        print(j+1, end = " ")
    print()
for i in range(5,0,-1):
    for j in range(i):
        print(j+1, end = " ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [48]:
for i in range(1,6):
    for j in range(i):
        print(j+1, end = " ")
    print()
for i in range(4,0,-1):
    for j in range(i):
        print(j+1, end = " ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

## Functions<br>
1- Take nothing return nothing.
2- Take nothing return something.
3- Take something return nothing.
4- Take something return something.

In [6]:
def add_two_numbers():
    print(2+3)

In [7]:
add_two_numbers()

5

In [17]:
def add_numbers(first_number, second_number):
    total = first_number + second_number
    print(total)

In [18]:
def sub_numbers(first_number, second_number):
    total = first_number - second_number
    print(total)

In [19]:
def multiply_numbers(first_number, second_number):
    total = first_number * second_number
    print(total)

In [20]:
def divide_numbers(first_number, second_number):
    total = first_number / second_number
    print(total)

In [21]:
add_numbers(7, 8)

15

In [ ]:
sub_numbers(7, 8)

In [23]:
multiply_numbers(8, 5)

40

In [ ]:
divide_numbers(10, 5)

In [25]:
n = 0
def guess_number(a):
    while(n>0):
        print('dsd')

In [10]:
import random

In [11]:
random

In [12]:
def return_random_number():
    number = random.randint(0,10)
    return number

In [13]:
number = return_random_number()
print(number)

9

In [19]:
x = 1
number = return_random_number()
while x<11:
    num = int(input('Please enter a number: '))
    if num == number:
        print('Congrats! You Guessed the correct number')
        break
    else:
        print('Sorry but Try again if you are still curious :p')
        x= x + 1

Please enter a number: 1
Sorry but Try again if you are still curious :p
Please enter a number: 2
Sorry but Try again if you are still curious :p
Please enter a number: 3
Sorry but Try again if you are still curious :p
Please enter a number: 4
Sorry but Try again if you are still curious :p
Please enter a number: 5
Sorry but Try again if you are still curious :p
Please enter a number: 6
Sorry but Try again if you are still curious :p
Please enter a number: 7
Sorry but Try again if you are still curious :p
Please enter a number: 8
Sorry but Try again if you are still curious :p
Please enter a number: 9
Sorry but Try again if you are still curious :p
Please enter a number: 10
Congrats! You Guessed the correct number

In [2]:
def add_two_numbers(num1,num2):
    x = (num1 + num2)
    return x
def sub_two_numbers(num1,num2):
    x = (num1 - num2)
    return x
def multiply_two_numbers(num1,num2):
    x = (num1 * num2)
    return x
def divide_two_numbers(num1,num2):
    x = (num1 / num2)
    return x

In [23]:
num1 = int(input('Please enter number1: '))
num2 = int(input('Please enter number2: '))
x = add_two_numbers(num1,num2)
print(x)

Please enter number1: 1
Please enter number2: 2
3

In [25]:
num1 = int(input('Please enter number1: '))
num2 = int(input('Please enter number2: '))
x = sub_two_numbers(num1,num2)
print(x)

Please enter number1: 5
Please enter number2: 3
2

In [3]:
num1 = int(input('Please enter number1: '))
num2 = int(input('Please enter number2: '))
x = multiply_two_numbers(num1,num2)
print(x)

Please enter number1: 2
Please enter number2: 3
6

In [4]:
num1 = int(input('Please enter number1: '))
num2 = int(input('Please enter number2: '))
x = divide_two_numbers(num1,num2)
print(x)

Please enter number1: 10
Please enter number2: 5
2.0

In [ ]:
posiitonal Arguments
Default/fixed/keywords Arguments
Arbitary Arguments

In [12]:
def calc_tax(total_amount,tax_ratio = 0.08):
    result = total_amount * tax_ratio
    total_price = result + total_amount
    print(total_price)

In [14]:
calc_tax(1200,0.06)

1272.0

In [15]:
calc_tax(tax_ratio = 0.1, total_amount = 1200)

1320.0